           /* nav bar */
   
           .topnav {
               background-color: white;
               overflow: hidden;
               
           }
           
    
           .topnav a {
               float: left;
               color: black;
               text-align: center;
               padding: 14px 16px;
               text-decoration: none;
               font-size: 17px;
           }
           
       
           .topnav a:hover {
               background-color: #f3f2e678;
               color: gray;
           }
           
   
           .topnav a.active {
               background-color: #f3f2e678;
           }
          
           .topnav-right {
               float: right;
             }

            /* end nav bar */

            /* posta seu css aqui embaixo e comenta o que é o que pra ficar mais facil */




            			
body{
	background-color: black;
	text-align: center;
	color: white;
	font-family: cursive;
}

#traco{
	size: 2;
	border: 1px dashed red;
}




/* TELA INICIO */
#titulo {
	color: red;
	font-size: 80px;
	font-family: fantasy;
}


#menu{
	width: 60%;
	height: 10%;
	position: absolute;
	left: 20%;
}

ul {
    list-style-type: none;
    overflow: hidden;
    align-self: center;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 20px 70px;
    text-decoration: none;
    font-size: 20px;
    font-family: cursive;
}

a:hover {
    background-color: #666666;
}

hr{
	color: red;
}
			

#corpo_texto{
	background-color: #666666;
	width: 60%;
	height: 100%;
	position: absolute;
	left: 20%;
}



/* TELA LOGIN */

#corpo_texto1{
	background-color: #666666;
	width: 60%;
	height: 55%;
	position: absolute;
	left: 20%;
}

.centro{
	position: absolute;
	top: 10%;
	left: 25%;
	background-color: white;
	width: 40%;
	height: 55%;
	padding: 40px 40px 20px 40px;
}


.text1{
	font-family: cursive;
	font-variant: none;
	font-size: 30px;
	color: red;
}

			
#botao{
	background-color: black;
	text-align: center;
	color: white;
	border-radius: 5px;
	border: none;
	text-decoration: none;
	padding: 10px 65px;
	display: inline-block;
}

			
#novaconta{
	font-family: sans-serif;
	font-variant: none;
	text-decoration: none;
	font-size: 15px;
	text-align: center;
	color: #ff3300;	
}

#novaconta:hover {
	background-color: white;
}


/* TELA CADASTRO */

.centro1{
	position: absolute;
	top: 10%;
	left: 25%;
	background-color: white;
	width: 40%;
	height: 60%;
	padding: 40px 40px 20px 40px;
}
		


/*TELA ADM GERAL*/

#corpo_texto2{
	background-color: #666666;
	width: 60%;
	height: 80%;
	position: absolute;
	left: 20%;
}

.centro3{
	position: absolute;
	top: 5%;
	left: 5%;
	background-color: white;
	width: 80%;
	height: 80%;
	padding: 40px 40px 20px 40px;
	color: black;

	overflow:auto;  /*barra de rolagem automática*/
}

#donoconta{
	font-size: 40px;
	font-family: fantasy;
	text-align: center;
}


th{
	color: red;
	font-family: cursive;
	font-size: 20px;
	padding: 10px 20px;
	border-right: 2px dashed #A9F5E1;
}

td{
	border-right: 2px dashed #A9F5E1;
}

#alinhar1{
	padding: 5px 10px;
	overflow: auto;
}

#menueditar{
	position: absolute;
	left: 5%;
	background-color: #A9F5E1;
	text-align: center;
	padding: 10px 10px;
}

#menuexcluir{
	position: absolute;
	right: 5%;
	background-color: #A9F5E1;
	text-align: center;
	width: 30%;
	padding: 10px 10px;
}

#subtitulo{
	font-family: fantasy;
	font-size: 20px;
}

#botao1{
	background-color: black;
	text-align: center;
	color: white;
	border-radius: 5px;
	border: none;
	text-decoration: none;
	padding: 10px 65px;
	display: inline-block;
}

#botao2{
	background-color: black;
	text-align: center;
	color: white;
	border-radius: 5px;
	border: none;
	text-decoration: none;
	padding: 10px 35px;
	display: inline-block;
}


