           /* nav bar */
   
           .topnav {
               background-color: white;
               overflow: hidden;
               
           }
           
    
           .topnav a {
               float: left;
               color: black;
               text-align: center;
               padding: 14px 16px;
               text-decoration: none;
               font-size: 17px;
           }
           
       
           .topnav a:hover {
               background-color: #f3f2e678;
               color: gray;
           }
           
   
           .topnav a.active {
               background-color: #f3f2e678;
           }
          
           .topnav-right {
               float: right;
			 }
			
			
            /* end nav bar */

            /* posta seu css aqui embaixo e comenta o que é o que pra ficar mais facil */

/*Marca o link que a página se refere*/
#atual{
	background-color: rgb(56, 56, 56);
	color: rgb(255, 0, 0);
	font-weight: bold;
}

body{
	background-color: black;
	text-align: center;
	color: white;
	font-family: Courier New, monospace;
}

#traco{
	size: 2;
	border: 1px dashed red;
}
/*Espaço entre menu e quadro*/
#invisivel{
	visibility: hidden;
}



/* TELA INICIO */
#titulo {
	color: red;
	font-size: 80px;
	
}


#menu{
	width: 70%;
	height: 10%;
	position: absolute;
	left: 18%;
}

ul {
    list-style-type: none;
    overflow: hidden;
    align-self: center;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 20px 70px;
    text-decoration: none;
    font-size: 20px;
    /*font-family: cursive;*/
}

a:hover {
    background-color: #666666;
}

hr{
	color: red;
}
			

#caixa_inicio{
	background-color: #666666;
	width: 60%;
	height: 100%;
	position: absolute;
	left: 20%;
	margin: 10px;
	overflow-y: scroll;
}
.posts{
	height: 300px;
	width: 60%;
	background-color: white; 
	margin: 10px;
	float: left;

}
.msg{
	height: 300px;
	width: 35%;
	float: left;
	overflow-y: scroll;
	background-color: white; 
	margin: 10px;
}



/* TELA LOGIN */

#corpo_texto1{
	background-color: #666666;
	width: 60%;
	height: 55%;
	position: absolute;
	left: 20%;
}

.centro{
	position: absolute;
	top: 10%;
	left: 25%;
	background-color: white;
	width: 40%;
	height: 55%;
	padding: 40px 40px 20px 40px;
}


.text1{
	/*font-family: cursive;*/
	font-variant: none;
	font-size: 40px;
	color: red;
	
}

			
#botao{
	background-color: black;
	text-align: center;
	color: white;
	border-radius: 5px;
	border: none;
	text-decoration: none;
	padding: 10px 65px;
	display: inline-block;
}

			
#novaconta{
	/*font-family: sans-serif;*/
	font-variant: none;
	text-decoration: none;
	font-size: 15px;
	text-align: center;
	color: #ff3300;	
}

#novaconta:hover {
	background-color: white;
}
.tam_input2{
	width: 60%;
	margin: 5px;
}


/* TELA CADASTRO */

.centro1{
	position: absolute;
	top: 10%;
	left: 25%;
	background-color: white;
	width: 40%;
	height: 60%;
	padding: 40px 40px 20px 40px;
}
		


/*TELA ADM GERAL*/

#corpo_texto2{
	background-color: #666666;
	width: 60%;
	height: 80%;
	position: absolute;
	left: 20%;
}

.centro3{
	position: absolute;
	top: 5%;
	left: 5%;
	background-color: white;
	width: 80%;
	height: 80%;
	padding: 40px 40px 20px 40px;
	color: black;

	overflow:auto;  /*barra de rolagem automática*/
}

#donoconta{
	font-size: 40px;
	/*font-family: fantasy;*/
	text-align: center;
}

#tabela{
	color: black;
}

th{
	color: rgb(0, 0, 0);
	/*font-family: cursive;*/
	font-size: 20px;
	padding: 10px 20px;
	border-right: 2px dashed #A9F5E1;
}

td{
	border-right: 2px dashed #A9F5E1;
	color: black;
}

#alinhar1{
	padding: 5px 10px;
	overflow: auto;
}

#menueditar{
	position: absolute;
	left: 5%;
	background-color: #A9F5E1;
	text-align: center;
	padding: 10px 10px;
}

#menuexcluir{
	position: absolute;
	right: 5%;
	background-color: #A9F5E1;
	text-align: center;
	width: 30%;
	padding: 10px 10px;
	height: 25%;
}

#subtitulo{
	/*font-family: fantasy;*/
	font-size: 20px;
	font-weight: bold;
}

#botao1{
	background-color: black;
	text-align: center;
	color: white;
	border-radius: 5px;
	border: none;
	text-decoration: none;
	padding: 10px 65px;
	display: inline-block;
	margin: 5px;
	width: 100%;
}
#botao2{
	background-color: black;
	text-align: center;
	color: white;
	border-radius: 5px;
	border: none;
	text-decoration: none;
	padding: 10px 35px;
	display: inline-block;
	width: 100%;
}
/*TELA CREATEPOSTS.PHP*/
#corpo_cposts{
	background-color: #666666;
	width: 60%;
	height: 100%;
	position: absolute;
	left: 20%;
}
.centro_cposts{
	position: absolute;
	top: 10%;
	left: 13%;
	background-color: white;
	width: 65%;
	height: 70%;
	padding: 40px 40px 20px 40px;
}
#criar_cposts{
	color: black;
}
#titulo_cposts{
	width: 100%;
}
#conteudo_cposts{
	width: 100%;
	resize: none;
}
.submit{
	width: 45%;
	height: 40px;
	color: black;
	background-color:  #A9F5E1;
	font-family: Courier New, monospace; 
	font-weight: bold;
}

/* TELA ADM-INDEX */

#corpo_texto3{
	background-color: #666666;
	width: 60%;
	height: 45%;
	position: absolute;
	left: 20%;
}

.centro4{
	position: absolute;
	top: 5%;
	left: 5%;
	background-color: white;
	width: 80%;
	height: 60%;
	padding: 40px 40px 20px 40px;
	color: black;

	overflow:auto;  /*barra de rolagem automática*/
}


#gerencia1{
	position: absolute;
	left: 10%;
	right: 10%;
	align-items: center;

}


#li1{
	float: left;
	border: 1px dashed red;
	width: 45%;
	padding: 5px 5px;
}

#li1 a{
	display: block;
	color: black;
	background-color:  #A9F5E1;
	text-align: center;
    text-decoration: none;
    font-size: 20px;
    /*font-family: fantasy;*/
	padding: 10px 20px;
	font-weight: bold;
}

#link1:hover{
	background-color: white;
	color: red;
}


/* TELA ADM GERAL ADD */

#corpo_texto5{
	background-color: #666666;
	width: 60%;
	height: 50%;
	position: absolute;
	left: 20%;
}

.centro6{
	position: absolute;
	top: 5%;
	left: 5%;
	background-color: white;
	width: 80%;
	height: 65%;
	padding: 40px 40px 20px 40px;
	color: black;

	overflow:auto;  /*barra de rolagem automática*/
}


#menu1{
	position: absolute;
	left: 23%;
	background-color: #A9F5E1;
	text-align: center;
	width: 50%;
	height: 30%;
	padding: 10px 10px 20px;	
	align-items: center;
}

.botao3{
	color: black;
	background-color:  #A9F5E1;
	text-align: center;
	margin-left: 6px;
	border-radius: 5px;
	text-decoration: none;
	padding: 5px 40px 5px 40px;
	display: inline-block;
	width: 62%;
	border-color: black;
}

.botao4{
	color: black;
	background-color:  #A9F5E1;
	text-align: center;
	margin-left: 6px;
	border-radius: 5px;
	font-family: Arial, sans-serif;
	font-size: 13px;
	text-decoration: none;
	padding: 5px 40px 5px 40px;
	display: inline-block;
	width: 40%;
	border-style: solid;
    border-color: black;
    border-width: 1px;
}
.botao5{
	color: white;
	background-color:  black;
	text-align: center;
	margin-left: 6px;
	border-radius: 5px;
	text-decoration: none;
	padding: 5px 40px 5px 40px;
	display: inline-block;
	width: 62%;
	border-color: black;
}
#tabela1{
	text-align: center;
	vertical-align: middle;
	border-color: none;
	width: 100%;
	line-height: 25px;
}
.tam_input{
	width: 100%;
	margin: 5px;
}
.botao6{
	color: white;
	background-color:  black;
	text-align: center;
	margin-left: 6px;
	border-radius: 5px;
	text-decoration: none;
	padding: 5px 40px 5px 40px;
	display: inline-block;
	width: 55%;
	border-color: black;
	font-size: 18px;
}


