<!DOCTYPE html>
<html>
	
	<head>
        <meta charset="UTF-8">
		<title>Cadastro</title>
		<link rel="stylesheet" type="text/css" href="style.css">
	</head>


	<body>
    <div class="centro">
         <div class="box_centro" align="center">
             <div><h1> Criar Nova Conta</h1></div>
            <div><h5>Olá visitante preencha os campos abaixo para criar uma nova conta</h5></div>
         <div>
         <form action="/progweb-blog/class/userCRUD.php" method="post">
            
            <input type="text" name="nome" placeholder="Seu nome"><br>
            <input type="email" name="email" placeholder="Email"><br>
            <input type="password" name="senha" placeholder="Senha"><br>

            <input type="submit" name="submit" value="Criar" id="botao"><br>
            <a href="login.html">Já possuo cadastro</a>
            
         </form>
         </div>
         </div>
    </div>

	</body>
</html>
