<!DOCTYPE html>
<html>
	
	<head>
        <meta charset="UTF-8">
		<title>Cadastro</title>
		<link rel="stylesheet" type="text/css" href="./css/style.css">
	</head>


	<body>
 
    <div>
        <label id="titulo">12 Horas de Terror</label>
        <br>
        <label>Um blog para os amantes do dark side.</label>
    </div>

    <br>

    <div id="menu">
        <ul>
            <li><a href="inicio.html">INÍCIO</a></li>
            <li><a href="inicio.html">POSTAGENS</a></li>
            <li><a href="login.html">SUA CONTA</a></li>
        </ul>

        <hr id="traco">
    </div>

    <br>
    <br>
    <br>
    <br>
    <br>


    <div id="corpo_texto1">
        
        <div class="centro">

       		 <form action="/progweb-blog/class/login.php" method="post">
    
        	    <label class="text1">LOGIN NO BLOG</label>  
        	    <br> 
        	    <br>         
                    
            	<input type="email" name="email-input" placeholder="Email">
            	<br>
                    
            	<input type="password" name="senha-input" placeholder="Senha">
            	<br>	
            	<br>
    
            	<input type="submit" value="Entrar" id="botao">
            	<br>

    
	            <a href="criarconta.html" id="novaconta">Criar nova conta</a>
    	            
        	</form>
    
    </div>
    </div>

    
  


	</body>
</html>
