<!DOCTYPE html>
<html>
	
	<head>
        <meta charset="UTF-8">
		<title>Sua Conta</title>
		<link rel="stylesheet" type="text/css" href="./css/style.css">
	</head>


	<body>
 
    <div>
        <label id="titulo">12 Horas de Terror</label>
        <br>
        <label>Um blog para os amantes do dark side.</label>
    </div>

    <br>

    <div id="menu">
        <ul>
            <li><a href="">OLÁ, ANÔNIMO!</a></li>
            <li><a href="inicio.php">INÍCIO</a></li>
            <li><a href="login.html" id="atual">ENTRAR</a></li>
            <li><a href="cadastro.html">CADASTRAR-SE</a></li>
        </ul>

        <hr id="traco">
    </div>

    <br>
    <br>
    <br>
    <br>
    <br>

    <div id="invisivel"><h2>...</h2></div>
    <div id="corpo_texto1">
        
        <div class="centro">

       		 <form action="/progweb-blog/Model/login.php" method="post">
    
        	    <label class="text1">LOGIN NO BLOG</label>  
        	    <br> 
        	    <br>         
                    
            	<input type="email" name="email-input" placeholder="Email" class="tam_input2">
            	<br>
                    
            	<input type="password" name="senha-input" placeholder="Senha" class="tam_input2">
            	<br>	
            	<br>
    
            	<input type="submit" value="Entrar" class="botao4" id="link1">
            	<br>

    
	            <a href="cadastro.html" id="novaconta">Criar nova conta</a>
    	            
        	</form>
    
    </div>
    </div>

    
  


	</body>
</html>
