<!DOCTYPE html>
<html>
	
	<head>
        <meta charset="UTF-8">
		<link rel="stylesheet" type="text/css" href="style.css">
	</head>


	<body>

        <div class="topnav">

            <a class="active" href="display.php">Início</a>
            <a href="cadProduto.php">Cadastrar</a>
            <a href="editProduto.php">Editar</a>
            <a href="delProduto.php">Excluir</a>
            <a href="listProduto.php">Listar</a>
            
            <div class="topnav-right">
                <a href="logout.php"><button>Sair</button></a>
            </div>    
            
        </div>
      
	</body>
</html>
